.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  background-color: #E3EDFF;
}

.App-button {
  width: 200px;
  height: 42px;
  padding: 6px;
}

.App-input{
  width: 350px;
}

.App-line {
  
    line-height: 1.6;
    color: #3377FF;
  
}

.App-description {
  font-size: 14px;
}

.App-home-pic {
  width: 320px;
  height: auto;
}

.numberCircle {
  border-radius: 50%;
  width: 36px;
  height: 42px;
  padding: 6px;

  background: #3377FF;
  border: 2px solid #739ff7d2;
  color: #FBFBFD;
  text-align: center;

  font: 18px Arial, sans-serif;
}
.largeNumerCircle {
  font: 24px Arial, sans-serif;
}

.App-hr {
  background: #3377FF;
  border: 1.5px solid #739ff7d2;
}

.App-checkbox-view {
  background-color: #f6f9fee5;
  border-radius: 12px;
}

.App-login-view {
  background-color: #f6f9fee5;
  border-radius: 12px;
  width: 500px;
  height: 200px;
}

.App-form {
  background-color: #99bbff37;
}

.App-avatar{
  width: 100px;
  height: auto;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow-white {
  border-color: #FBFBFD;
}

.arrow-blue {
  border-color: #3377FF;
}

.App-navbar {
  background-color: #e3edff85;
}

.App-search-btn {
  width: 40px;
  height: 38px;
}

.App-option-img {
  width: 15px;
  height: auto;
}

.App-search-img {
  margin-right: 20px;
  margin-bottom: 20px;
}

